
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

//Page index.html partie header======================================================================
body{
    margin:0px;

    .site{
        

        .headerindex{
            width:100%;

            &__titreprincipal{
                @include header__titreprincipal;
            }
            &__annonce{
                    @include desktop{
                        margin-bottom: 3em;
                        padding-bottom: 2em;
                    }
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    box-shadow: Grey;
                    background-color: $couleur-fond-gris;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-family:$font2;
                    margin-bottom: 3rem;
                    padding-bottom: 3rem;
                    &__local{
                        display:grid;
                        grid-template-areas:
                        "icone text text";
                        grid-template-columns: 30% 1fr;
                        @include desktop{ 
                            grid-template-columns: 42% 1fr 1fr;
                        }
                        @include tablette{
                            grid-template-columns: 42% 1fr 1fr;
                        }
                        grid-template-rows: 1fr;
                        background-color:$couleur-fond-gris-local;
                        box-shadow:inset 0px 3px rgba(10, 10, 7, 0.08);
                        width: 100%;
                        &__icone{
                            grid-area: icone;
                            grid-column-start: 1;
                            grid-column-end: 1;
                            justify-self: self-end;
                            align-self: center;
                            font-size: 1.2rem;
                        }
                        &__text{
                            grid-area: text;
                            grid-column-start: 2;
                            grid-column-end:2 ;
                            input{
                                border: 0px;
                                background-color: transparent;
                                font-family:$font2;
                                text-align: left;
                                padding: 1rem 0.2rem;
                                font-weight: bold;
                                font-size: 1.1rem;
                            }
                            
                        }
                    }
                    &__text{
                        font-family:$font2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
            
                        &__h2first{
                            padding-top: 3rem;
                            font-size: 1.5rem;
                            font-family:$font2;
                            @include desktop{
                                padding-top: 3rem;
                                font-size: 2rem
                            }
                        }
                        &__h2{
                            font-size: 1.5rem;
                            font-family:$font2;
                            @include desktop{
                                font-size: 2rem
                            }
                        }
                        &__commentairefirst{
                            padding-top:1.2rem;
                            color:black;
                            font-weight: lighter;
                            font-family:$font2;
                            font-size: 1.2rem;
                            width: 100%;
                            @include desktop{
                                font-size: 2rem
                            }
                        }
                        &__commentaire{
                            color:black;
                            font-weight: lighter;
                            font-family:$font2;
                            font-size: 1.2rem;
                            width: 100%;
                            @include desktop{
                                font-size: 2rem
                            }
                        }
                        &__btn{
                            margin-top:2rem;
                        }
                }
        }
        }//headerindex

        //Page index.html Partie Fonctionnement===================================================
        
        .sidebar{
            @include desktop{
            }
            .titre-fonctionnement{
                @include titre; 
            }
            .container-fonct{
                position:relative;
                margin-left: 5px;
                margin-right:5px;
                margin-top: 5px;
                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: white;

                &__bloc-bouton{
                    margin:1.5rem;
                    @include desktop{
                        display:flex;
                        flex-direction:row;
                        justify-content: space-evenly;
                        width:100%;
                    }
                    @include tablette{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 35rem;  
                    }
                    &__btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position:relative;
                        color:black;
                        padding:0.5rem 4rem 0.5rem 2rem;
                        border-radius: 15px;
                        font-weight: bold;
                        background:$couleur-fond-gris-local;
                        cursor: pointer;
                        margin: 0rem 0rem 1.5rem 0rem;
                        box-shadow: 0px 5px 15px #ccbbbb;
                        min-width: 10rem; 
                        font-size: 1.2rem;
                            @include desktop{
                            font-size: 1.1em;
                            padding:0.5em 2.2em 0.5em 1em;
                            min-width:13.4em;
                            margin-left:2em;
                            }        
                        &:hover {
                            background-color:lighten($couleur-fond-gris-local, 3%);
                            box-shadow: 0px 5px 30px #a8a2a2;
                            }
                        .position-icone{
                            margin-right:1.4em;
                            font-size: 1.2em;
                            &.spe-size{
                                font-size: 1em; 
                            }
                            &.couleur{
                                color:$couleur-primaire;
                            } 
                        }//position-icone

                    }//bloc-bouton__btn

                }//bloc-bouton
                
            }//container-fonct

        }//sidebar

        //Page index.html - partie Restaurant=======================================================
        
        .bodyresto{
            @include desktop{
                padding-bottom:3em;
                background-color: $couleur-fond-gris;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                
            }
            .titre-fonctionnement{
                @include titre;
                &--partie-restaurant{
                    background-color: $couleur-fond-gris;
                    padding-bottom: 1rem;
                    padding-top:2em;
                    margin-bottom: 0px;
                    @include desktop{
                        padding-top:0;
                    }
                    
                }
            }
            &__conteneur-Resto{
                display: flex;
                background-color: $couleur-fond-gris;
                @include phone{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 50px;
                    margin-bottom: 0px;
                }
                @include desktop{
                    flex-direction: row;
                    width:100%;
                }  
                @include tablette{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 150px;
                    margin-bottom: 0px; 
                    justify-content: space-around;
                    margin-bottom: 1rem;
                    
                }  
            }//conteneur-Resto

        }//bodyresto
    
    }
}
//Page menu des Restaurants - header et footer commun==============================

        .couleur-fond-body{
            background-color:$couleur-fond-gris;
        

            .menu{
                position:relative;
                top:-60px;
                background-color:$couleur-fond-menu;
                border-radius: 30px 30px 0 0;
                width: 100%;
                margin-left:0px;
                margin-right:0px;
                @include desktop{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    
                }
                &__titre{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    justify-content:space-between;
                    width: 100%;
                    margin-bottom:1rem;
                    @include desktop{
                        justify-content:center;
                    }
                    
                    &__intitule{
                        width: 80%;
                        padding-top:1.4rem;
                        font-size: 1.5rem;
                        font-family:$font1;
                        font-weight:bolder; 
                        padding-left:1rem;
                        @include desktop{
                            width:auto;
                            padding-right:1rem;
                        }
                    }
                    &__coeur{
                        padding-top:1.5rem;
                        width: 15%;
                        font-size:1.5rem;
                        i{
                            height:5rem;
                            display: flex;
                            align-items: center;
                        }
                        i:hover{
                            @include animation-coeur;
                        }
                    }
                }//titre
                &__blockctns{
                    display: flex;
                    flex-direction:column;
                    width: 100%;
                    @include desktop{
                        display:grid;
                        grid-template-areas:
                        "commander commander commander"
                        "menu menu menu";
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 25% auto;
                        align-items: flex-start;
                    }
                   
                    &__ctn{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin-left:1rem;
                        margin-right:1rem;
                        margin-bottom:2rem;
                        @include desktop{  
                            
                            
                            .div.menu_blockctns_cnt:nth-child(1){
                                grid-area: menu;
                                grid-row-start: 2;
                                grid-column-start: 1;
                                grid-column-end:1;
                                }   

                            .div.menu_blockctns_cnt:nth-child(2){
                                grid-area: menu;
                                grid-row-start: 2;
                                grid-column-start: 2;
                                grid-column-end:2;
                                }  
                            .div.menu_blockctns_cnt:nth-child(3){
                                grid-area: menu;
                                grid-row-start: 2;
                                grid-column-start: 3;
                                grid-column-end:3;
                                }    
                        }
                        &__titre{
                            font-size: 1.2rem;
                            font-family:$font2;
                            padding-bottom: 0.3rem;
                        }
                        &__bordure{
                            border-top:solid 3px $couleur-tertiaire;
                            width: 15%;
                            @include desktop{
                                margin-top:-5px;
                            }
                        }
                        &__bloc-cards{
                            display: flex;
                            justify-content:space-evenly;
                            flex-direction: column;
                            @include desktop{
                                min-width:21rem;
                            }
                            article:first-of-type{
                                animation: anim-menu 1.5s 0s ease-in-out 1;
                              }
                            article:nth-of-type(2){
                                animation: anim-menu 2.5s 0s ease-in-out 1;
                              }
                            article:nth-of-type(3){
                                animation: anim-menu 3.5s 0s ease-in-out 1;
                              }
                            article:nth-of-type(4){
                                animation: anim-menu 4.5s 0s ease-in-out 1;
                              }

                            
                        }//bloc-cards
            
                    }//ctn
                    &__ctn__btn-commande{
                        @include phone{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        @include tablette{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        @include desktop{
                            grid-area: commander;
                            grid-row-start: 1;
                            grid-row-end: 1;
                            grid-column-start: 1;
                            grid-column-end: span 3;
                            align-self: center;
                            justify-self: center;
                        }
                     
                    }//ctn__btn-commande

                }//blockctns

            }//menu
            
        }//body
        
