.container-fonct button {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin-bottom: 1rem;
    //j'ajoute
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 15px;
    border: 0.1rem transparent;
    font-weight: bold;
    font-size: 1rem;
    font-family: $font2;
    background:$couleur-fond-gris-local;
    cursor: pointer;
    box-shadow: 0px 5px 15px #ccbbbb;
    &:hover {
        background-color:lighten($couleur-fond-gris-local, 3%);
        box-shadow: 0px 5px 30px #a8a2a2;
        }

       
          
    &::before{
        // content:"1";
        font-size:0.9rem;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        background-color: $couleur-primaire;
        color:white;
        border-radius: 50%;
        margin-left: -1rem;
        margin-right: 1rem;
        
    }
    i{
        margin-right: 1rem;
        color:$couleur-icone-btn;
    }
    .couleur{
        color:$couleur-primaire;
    }
    @for $i from 1 through 3 {
        &:nth-of-type(#{$i})::before {
            content:"#{$i}";
        }
      }
}