

.ctn-loading{
    position:fixed;
    top: 0;
    left : 0;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: loaderSpinnerTimeOut 3s forwards;
    background-color:rgb(255,255,255);
    z-index:2000;

    
    div:nth-child(2n){
        display:flex;
        justify-content:center;
        &::after{
            content:"";
            width:65px;
            height:65px;
            border:10px solid $couleur-primaire;
            border-top-color:$couleur-tertiaire;
            border-bottom-color:$couleur-tertiaire;
            border-radius:50%;
            z-index:3000;
            transform: rotate(0.5turn);
            animation-delay:0s;
            animation: loading 2s 0s linear 2;
        }
        span {
            position: relative;  
            font-size:1.3rem;
            top:32px;
            left:50px; 
            color:$couleur-tertiaire;
        }  
    }
  
    div:nth-child(2n+1){
        display:flex;
        justify-content:center;
        &::after{
            content:"";
            width:65px;
            height:65px;
            border:10px solid transparent;
            border-top-color:$couleur-primaire;
            border-bottom-color:$couleur-secondaire;
            border-radius:50%;
            z-index:3000;
            transform: rotate(0.5turn);
            animation: loading 2s 0s linear 8;
           
        }
        span {
            position: relative;  
            font-size:1.3rem;
            top:30px;
            left:50px;  
            color:$couleur-primaire; 
        }
    }
        
}
