$cocheVisible : 15rem;

article.card{
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  border-radius:25px;
  height: 70px;
  margin-top:1rem;
  box-shadow: 0px 5px 20px $couleur-fond-gris-local;
  display:flex;
  flex-direction: row;
 
  div {
      font-family:$font2;
      padding-left:1rem;
      margin:0px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 5rem);
      transition:width 1s;
      p:first-of-type{
          margin:0px;
          padding-top:1rem;
          font-size:1rem;
          font-weight: bold;
          padding-bottom:0.3rem;
          //necessaire pour text-overflow
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          }
      p:nth-of-type(2){
          margin:0px;
          font-size:0.9rem;
          padding-bottom:1rem;
           //necessaire pour text-overflow
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
          }
  }
  p.prix{
      
      font-family: $font2;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      width: 2rem;
      border: 1px solid;
      align-items: flex-end;
     
  }
  aside{
      background-color:$couleur-tertiaire;  
      color: white;
      width:0rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      transition: width 1s;
      justify-content: center;
      align-items: center;
      
      &::after{
          overflow: visible;
          content: "\f058";
          //font-family: FontAwesome;
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
          text-align: center;
          transform: rotate(90deg);
          transition: transform 1s;
          
      }
    
  }

  &:hover{
    div{
      width:calc(100% - $cocheVisible);
    }
    aside{
      width: $cocheVisible;
      &::after{
        transform: rotate(0deg);
      }
    }
      
  }
}//card